:root {
    /* primary colors */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    /* neutral colors */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --light-grayish-blue: hsl(200, 20%, 88%);
    --white: #fff;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    /* margin and padding remove 'white' border in page. */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1,
h2,
h3 {
    color: var(--dark-grayish-blue);
}

header p,
.info p,
.two p,
.three p,
.the-threes p {
    color: var(--grayish-blue);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
}

header p {
    margin: .5rem 0 1.5rem 0;
}

.bg-header {
    margin: 0;
}

.c-logo {
    position: absolute;
    bottom: 180px;
}

.btn-download {
    display: grid;
    grid-template-columns: auto auto;
    margin: .25rem 0;
}

.btn {
    margin: 0 .50rem;
    padding: .45rem 1rem;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-small;
    letter-spacing: 1px;
}

/* btn green and blue */

.green {
    background-color: var(--strong-cyan);
    color: var(--white);
    border: none;
    box-shadow: -1px 1px 5px 1px var(--dark-grayish-blue);
    /* add shadow */
}

.green:hover {
    padding: .45rem 1.2rem;
    letter-spacing: 2px;
}

.blue {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    box-shadow: -1px 1px 5px 1px var(--dark-grayish-blue);
    /* add shadow */
}

.blue:hover {
    padding: .45rem 1.2rem;
    letter-spacing: 2px;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
}

.computer-img {
    width: 400px;
    height: 300px;
}

.img-info {
    display: grid;
    grid-template-columns: auto auto;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
}

.three {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* change padding top */
    padding: 2rem 3rem;
}

.three-lines {
    display: grid;
    grid-template-columns: auto auto auto;
}

.the-threes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.the-threes p {
    text-align: center;
}

.five {
    padding: 2rem 3rem;
}

.five {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closing-footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.foot {
    margin: 0 2rem;
}

.foot a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.footer {
    background-color: var(--light-grayish-blue);
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
    /* width: fit-content; */

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; */
}

.social a {
    margin: 0 .625rem;
    text-decoration: none;
    /* was showing under facebook and twitter */
}