.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --cyan: hsl(171, 66%, 44%);
    --light: hsl(233, 100%, 69%);
    --dark: hsl(210, 10%, 33%);
    --grayish: hsl(201, 11%, 66%);
    --white: hsl(0, 0%, 100%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

p {
    color: var(--grayish);
}

button {
    padding: 0.55rem;
    width: 15%;
    border-radius: 20px;
    color: var(--white);
    border: none;
}

.green {
    background-color: var(--cyan);
}

.green:hover {
    cursor: pointer;
    color: var(--cyan);
    border: 2px solid var(--cyan);
    background-color: var(--white);
}

.blue {
    background-color: var(--light);
}

.blue:hover {
    cursor: pointer;
    color: var(--light);
    border: 2px solid var(--light);
    background-color: var(--white);
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.one {
    /* padding-top: 4rem; */
    background-image: url(../images/bg-header-desktop.png);
}

.one figure {
    margin-bottom: 2rem;
}

.one img {
    width: 70px;
}

footer {
    background-color: var(--grayish);
    width: 100%;
    margin-top: 4rem;
}

.two {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

#computer {
    grid-row: 1 / span 2;
}

#second {
    grid-row: 1 / span 2;
    text-align: initial;
}

.three {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.four {
    display: inline-flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.small {
    width: 100px;
}

.five {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.images {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.bottom {
    display: inline-flex;
}

#logo {
    width: 55px;
}

ul {
    list-style: none;
    color: var(--dark);
}